DEVICE_ID="00000000-0000-0000-0000-000000000001"
INTERSECTION_ID="00000000-0000-0000-0000-000000000002"
SOFTWARE_VERSION="0.1.0"
ENVIRONMENT="development"
MQTT_ENABLED="false"
MQTT_BROKER_HOST="localhost"
MQTT_BROKER_PORT="1883"
MQTT_USERNAME=""
MQTT_PASSWORD=""
MQTT_TLS_ENABLED="false"
MQTT_CLIENT_ID="itms-raspberry-pi"
MQTT_KEEPALIVE_SECONDS="60"
HEARTBEAT_INTERVAL_SECONDS="30"
TELEMETRY_INTERVAL_SECONDS="30"
COMMAND_MAX_AGE_SECONDS="300"
LOG_LEVEL="INFO"
