DEVICE_ID="00000000-0000-0000-0000-000000000001"
INTERSECTION_ID="00000000-0000-0000-0000-000000000002"
SOFTWARE_VERSION="0.1.0"
ENVIRONMENT="development"
MQTT_ENABLED="false"
MQTT_BROKER_HOST="localhost"
MQTT_BROKER_PORT="1883"
MQTT_USERNAME=""
MQTT_PASSWORD=""
MQTT_TLS_ENABLED="false"
MQTT_CLIENT_ID="itms-raspberry-pi"
MQTT_KEEPALIVE_SECONDS="60"
HEARTBEAT_INTERVAL_SECONDS="30"
TELEMETRY_INTERVAL_SECONDS="30"
COMMAND_MAX_AGE_SECONDS="300"
SIGNAL_COMMAND_MAX_DURATION_SECONDS="60"
SIGNAL_ALL_RED_TRANSITION_SECONDS="0.2"
AUTO_CONTROLLER_ENABLED="true"
AUTO_NS_GREEN_SECONDS="15"
AUTO_NS_YELLOW_SECONDS="3"
AUTO_EW_GREEN_SECONDS="15"
AUTO_EW_YELLOW_SECONDS="3"
AUTO_ALL_RED_SECONDS="2"
MANUAL_OVERRIDE_MAX_SECONDS="60"
GPIO_ENABLED="false"
TRAFFIC_LIGHT_NORTH_LANE_ID=""
TRAFFIC_LIGHT_SOUTH_LANE_ID=""
TRAFFIC_LIGHT_EAST_LANE_ID=""
TRAFFIC_LIGHT_WEST_LANE_ID=""
TRAFFIC_LIGHT_NORTH_RED_PIN="22"
TRAFFIC_LIGHT_NORTH_YELLOW_PIN="27"
TRAFFIC_LIGHT_NORTH_GREEN_PIN="17"
TRAFFIC_LIGHT_SOUTH_RED_PIN="5"
TRAFFIC_LIGHT_SOUTH_YELLOW_PIN="6"
TRAFFIC_LIGHT_SOUTH_GREEN_PIN="13"
TRAFFIC_LIGHT_EAST_RED_PIN="19"
TRAFFIC_LIGHT_EAST_YELLOW_PIN="26"
TRAFFIC_LIGHT_EAST_GREEN_PIN="21"
TRAFFIC_LIGHT_WEST_RED_PIN="16"
TRAFFIC_LIGHT_WEST_YELLOW_PIN="20"
TRAFFIC_LIGHT_WEST_GREEN_PIN="12"
INTERSECTION_TEST_RED_SECONDS="2"
INTERSECTION_TEST_YELLOW_SECONDS="1"
INTERSECTION_TEST_GREEN_SECONDS="2"
INTERSECTION_TEST_ALL_RED_SECONDS="1"
LOG_LEVEL="INFO"
